<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dunes Study Hub - Documentations</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <div class = "container">
            <div class = "sidebar">
                <a href="{{url_for('main')}}">Home</a>
                <br>
                <a href="{{url_for('pomodoro')}}">Pomodoro</a>
                <br>
                <a href="{{url_for('docs')}}">Documentations</a>
                <br>
                <a href="{{url_for('study_methods')}}">Study methods</a>
                <br>
                <a href="{{url_for('grades_calc')}}">Grades Calculator</a>
                <br>
                <a href="{{url_for('flashcards')}}">Flashcards</a>
                <br>
                <a href="{{url_for('sdg')}}">SDG</a>
                <br>
                <a href="{{url_for('nim')}}">NIM</a>
                <br>
            </div>
            <div class = "tips">
                <h1>STUDY TRICKS DOCUMENT:-</h1><br>
                This document explains proven study tricks, why they work, and how to use them in real life. Following all these methods regularly can ensure drastic improvement in your daily work.
                <hr>
                1. FLOW STATE <br>
                What it is:<br>
                This is one of the most crucial parts in work, and it involves activating a secret state of your brain called "Flow State". When you're in flow state, work feels effortless,<br>
                concepts start clicking, and you become a completely different person.
                Why it works:<br>
                •	Your brain starts enjoying the task, and you start completing really hard tasks with no effort at all<br>
                How to use it:<br>
                •	Flow state requires clarity. Instead of saying, I'll study math for 20 minutes, say, I'll complete 10 sums, create my own questions, and connect the topics to my daily life.<br>
                •	Perform a ritual (like breathing 3 times, humming a tune, or anything) before doing any kind of work.<br>
                •	Do tasks that are at least 4% harder than your sweet spot. This helps the brain enjoy while pushing its regular limits, unlocking flow state.<br>
                •	Force yourself to be locked into the task. The beginning of flow state will be hard, but that's what enforces this system.<br>
                •	Don't check the time. Flow kicks off 10-15 minutes later, but checking the time diverts your attention and prolongs flow even further.<br>
                
                <hr>
                2. ACTIVE RECALL<br>
                What it is:<br>
                Active recall means forcing your brain to pull information out, instead of just rereading or highlighting. Active recall can be performed in the form of blurting,<br>
                feynman method, flashcards, etc.<br>
                Why it works:<br>
                •	Your brain strengthens memories when it retrieves them. Rereading feels productive, but it mostly trains recognition, not memory.<br>
                How to use it:<br>
                •	Read the source carefully<br>
                •	Close the book or chrome tab, and force your brain to pull out the information, either orally or by writing<br>
                •	Go back and check which parts you messed up<br>
                •	Use spaced repetition to find out what days you must active recall<br>

                <hr>
                3. SPACE REPETITION<br>
                What it is:<br>
                Spaced repetition means reviewing information over increasing time gaps right before you forget it. Research shows that the below time intervals are the most optimal for locking<br>
                in information for 3-4 months in just 10-14 days.<br>
                Why it works<br>
                Your brain forgets things over time. Reviewing just before forgetting locks the memory in longer.<br>
                How to use it<br>
                Instead of studying math formulas for 3 hours in one day:<br>
                •	Study: Learn formula<br>
                •	1 day later: Quick review<br>
                •	3 days later: Another review<br>
                •	7 days later: Final check<br>
                •	(optional, to lock the info for longer periods of time) 14 days later: Answer questions from the textbook or an external source<br>
                •	(continue to double the recall time to lock the info even longer)<br>

                <hr>
                4. THE FEYNMAN TECHNIQUE<br>
                What it is:<br>
                Learning by teaching the concept as simply as possible.<br>
                Why it works<br>
                If you can explain something simply, you truly understand it. Gaps become obvious immediately.<br>
                How to use it:<br>
                •	If you're studying electricity, you can recall like this:<br>
                    “Electricity is like water flowing through pipes. Voltage is pressure, current is...”<br>
                •	If you get stuck explaining, that's your weak spot.<br>
                •	Try to force in the information as hard as you can.<br>
                •	If it doesn't click however hard you try, skip that and continue<br>
                •	Later, go back to the textbook and ONLY see that part.<br>
                •	Explain the concept as if you're teaching a 5-year old, or go up to a mirror and explain it to yourself<br>

                <hr>
                4. POMODORO<br>
                What it is:<br>
                Studying in short, focused sessions with breaks. The breaks are used by the brain to pass down the information into the long-term memory, just like what it does while sleeping.<br>
                Classic structure<br>
                •	25 minutes study<br>
                •	5 minutes break<br>
                •	After 4 times, long break (15 minutes)<br>
                Why it works<br>
                •	Prevents burnout<br>
                •	Reduces procrastination<br>
                •	Trains focus like a muscle<br>
                How to use it:<br>
                •	Go to the pomodoro section in this app<br>
                •	Start the pomodoro<br>
                •	During the pomodoro, focus on studying only<br>
                •	If you stay dedicated, you might enter flow state during the focus period<br>
                •	During the 5 minutes break, take a short nap, stare at a wall, or just walk. Let your mind wander. When you're doing nothing, your brain starts working and stores the information more efficiently.<br>
                •	The breaks help the brain reset and prepare for the next study session.<br>
                •	Even a small peak at your phone can disrupt the next 4 pomodoros, so only use your device after you complete 4-5 pomodoros.<br>

                <hr>
                5. THETA WAVES<br>
                What it is:<br>
                A particular noise that enforces the secret "ultra-focus" part of the brain.<br>
                Why it works:<br>
                •	Your brain responds to different music in different ways.<br>
                •	Theta waves makes the brain transmit information in neurons much faster.<br>
                How to use it:<br>
                •	Search "Theta waves" or "White noise" in YouTube.<br>
                •	Play the sound in the background.<br>
                •	Make sure to make the sound not so quiet that you won't hear it at all, and not so loud to distract you.<br>

                <hr>
                5. INTERLEAVING<br>
                What it is:<br>
                Mixing different topics or problem types in one study session.<br>
                Why it works<br>
                •	It forces :your brain to choose the right strategy, instead of running on autopilot.<br>
                How to use it:<br>
                •	Start a subject, like physics.<br>
                •	After you complete your goal, do something similar, like chemistry, as it falls under the same category.<br>
                •	This helps your brain reset faster.<br>

                <hr>
                6. BLURTING METHOD<br>
                What it is:<br>
                Study → close everything → write down everything you remember.<br>
                Why it works:<br>
                •	Combines active recall + gap detection<br>
                •	Makes weak areas painfully obvious (which is good)<br>
                How to use it:<br>
                •	Read your notes or a source for about 5-10 minutes<br>
                •	Close notes<br>
                •	Write everything you remember about what you just read<br>
                •	Compare your answer with the actual answer<br>
                •	Underline the words or phrases you made wrong<br>
                •	Write the answer again, without looking at your original answer<br>
                •	2 blurts per pomodoro is the most ideal<br>

                <hr>
                7. VISUALIZATION RECALL<br>
                What it is:<br>
                Learning using words + visuals together.<br>
                Why it works:<br>
                •	The human brain is designed to recognize patterns. Drawing images or flowcharts can force the brain to connect the dots, further enforcing the information<br>
                Real-life example:<br>
                •	Drawing diagrams for physics<br>
                •	Mind maps for biology<br>
                •	Drawing minifigures as kings or presidents for history<br>
                •	Using arrow marks + formulas for math<br>

                <hr>
                8. AREA NOTES RECALL<br>
                What it is:<br>
                Placing small sticky notes all around the house, especially where you visit the most (fridge, TV, phone, bedroom)<br>
                Why it works:<br>
                •	When you see some concepts over and over, your brain labels that as "important" and stores it in the long term memory<br>
                How to use it:<br>
                •	Take a date or a formula that you want to learn<br>
                •	Write it on a sticky note<br>
                •	Stick it in places you visit the most<br>
                •	The next time you see the note, force yourself to visualize it before doing anything else<br>

                <hr>
                9. ENVIRONMENTAL CONTROL<br>
                What it is:<br>
                Optimizing your surroundings so studying requires less willpower.<br>
                Why it works:<br>
                Discipline is limited. Environment beats motivation.<br>
                Real-life example<br>
                •	Phone in another room<br>
                •	Different study area every day<br>
                •	Study-only playlist<br>

                <hr>
                9. SLEEP & BREAKS<br>
                Why it matters:<br>
                •	Memory consolidation happens during sleep. No sleep results in weak learning.<br>
                Real-life example:<br>
                •	Studying 2 hours + sleeping well > studying 5 hours exhausted<br>

                <hr>
                10. METACOGNITION<br>
                What it is:<br>
                Knowing what you know and what you don't.<br>
                Why it works:<br>
                Metacognition prevents false confidence, helping you get a better understanding about your knowledge in that particular field.<br>
                How to do it:<br>
                After studying, ask:<br>
                •	Can I explain this without notes?<br>
                •	Can I solve a new problem?<br>

                <hr>
                11. Cues<br>
                What it is:<br>
                This method is mostly used for remembering small tasks, but can be implimented into studies. It requires you to set a cue for a certain topic or formula to remember it later.<br>
                Why it works:<br>
                The brain remembers images and actions more than words. Cues act as hints, which the brain can use to remember the information you assigned to it.<br>
                How to do it:<br>
                •	Decide which small information to remember (small things like formulas, dates, etc. big things like paragraphs cannot be assigned to a cue)<br>
                •	Think of a cue (like snapping your fingers, looking at a certain image, the list goes on...)<br>
                •	Perform the cue while focusing deeply on the information. You may say it aloud as well.<br>
                •	Now, at regular intervals of the day (not immediately), perform the cue, in order to lock the information harder.<br>

                <hr>
                12. The 2-minute method<br>
                What it is:<br>
                Naturally, the brain tries to avoid studying or work, especially if it is held for long periods of time. The 2-minute method tricks the brain into<br>
                underestimating the study time.<br>
                Why it works:<br>
                Studying reduces dopamine for most people, so when you trick your brain into studying for short periods, it gets interested, as less dopamine is lost.<br>
                How to do it:<br>
                •	Start a 2 minute timer<br>
                •	Do the smallest task possible, example:- Instead of studying chemistry, you can read a small paragraph or recall any formulas<br>
                •	After the 2 minute timer ends, you can stop, but most people would generally continue<br>
                •	If you feel the urge to complete what you were doing, exceeding the 2 minute timer, then method worked for you<br>
                <br>
                By applying all these scientifically proven methods, your brain will have a better time, recalling, understanding, and reviewing information.<br>
            </div>
        </div>

    </body>
</html>